.row
  .col.col-xs-6.col-sm-3
    = link_to api_ohayo_path, class: 'btn btn-primary btn-block' do
      .btn-icon
        %i.fa.fa-sun-o.fa-3x
      .btn-label
        おはよう
  .col.col-xs-6.col-sm-3
    = link_to api_oyasumi_path, class: 'btn btn-primary btn-block' do
      .btn-icon
        %i.fa.fa-moon-o.fa-3x
      .btn-label
        おやすみ
  .col.col-xs-6.col-sm-3
    = link_to api_ittekimasu_path, class: 'btn btn-primary btn-block' do
      .btn-icon
        %i.fa.fa-car.fa-3x
      .btn-label
        いってきます
  .col.col-xs-6.col-sm-3
    = link_to api_tadaima_path, class: 'btn btn-primary btn-block' do
      .btn-icon
        %i.fa.fa-home.fa-3x
      .btn-label
        ただいま
#alert
